.App {
  text-align: center;
}


a{
  text-decoration-line: none !important
}
a:visited{
  color: black;
}
a:hover{
  color: black !important
}

.nav-list h3,h4{
  text-align: center;
  margin-right: 20px;
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



.main-bg{
  height: 500px;
  background-size: cover;
}

.start{
  opacity: 0;

}
.end{
  opacity: 1;
  transition: opacity 0.5s;
}

.ms-auto{
  float: left;
  color: blanchedalmond;
}